<div class="product-area pb-120 bg-img pt-120" style="background-image:url(dist/img/section-bg-2.png);">
    <div class="container">
        <div class="product-top-bar section-border mb-60">
            <div class="section-title-4">
                <h3 class="bg-gray-5">{{ productListTitle }}</h3>
            </div>
            <div class="product-tab-list-3 nav bg-gray-5">
                <a class="active" data-bs-toggle="tab" href="#hm14-tab2">
                    <h4>All </h4>
                </a>
            </div>
        </div>
        <div class="tab-content jump">
            <div class="tab-pane active" id="hm14-tab2">
                <div class="product-slider-active owl-carousel owl-dot-none">
                    {% for product in products %}
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                            <a href="product-details.html">
                                <img class="default-img" src="{{ product.getFullImageUrl }}" alt="{{ product.name }}">
                                <img class="hover-img" src="{{ product.getFullImageUrl }}" alt="{{ product.name }}">
                            </a>
                            <span class="red">-10%</span>
                            <div class="product-action-2 product-action-2-red">
                                <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                <a title="Quick View" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                            </div>
                        </div>
                        <div class="product-content-2">
                            <div class="title-price-wrap-2">
                                <h3><a href="product-details.html">{{ product.name }}</a></h3>
                                <div class="price-2">
                                    <span>$ {{ product.price }}</span>
                                    <span class="old red">$ {{ product.price }}</span>
                                </div>
                            </div>
                            <div class="pro-wishlist-2">
                                <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                            </div>
                        </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="pro-view-more view-more-radious text-center">
                    <a href="shop.html"><i class="fa fa-refresh"></i> View More</a>
                </div>
            </div>
        </div>
    </div>
</div>
