{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    <img class="rounded-circle" src="{{ asset('uploads/images/' ~ product.imageFilename) }}" style="width: 150px;" alt="{{ product.imageFilename }}">
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_product_index') }}">back to list</a>


{% endblock %}
