{% extends 'base.html.twig' %}

{% block title %}Tag{% endblock %}

{% block body %}
    <h1>Tag</h1>

    <table class="table table-bordered table-striped mt-2">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tag.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ tag.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ tag.slug }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ tag.status ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_tag_index') }}">Back to list</a>

{% endblock %}
